@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* style */
body {
  height: 100vh;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Space Mono", monospace;
}

.logo {
  width: 85px;
  height: 80px;
  padding-top: 12px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d980;
  padding-left: 8px;
  padding-right: 18px;
  font-size: x-large;

  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.element:hover {
  background-color: #d9d9d9;
}

/* Dropdown Button */
.dropbtn {
  background-color: #d9d9d9;

  border: hidden;
}
/* The container */
.dropdown {
  position: relative;
  display: inline-block;
}
/* the content is hidden by default*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d9d9d9;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #564a59;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Main page */

main {
  display: flex;
}

#main-page {
  width: 100%;
  height: 500px;
  text-align: center;

  background-color: #c5c6c780;

  border-radius: 20px;
  margin: 25px;
}

#main-page h1 {
  margin: 20px;
}

#main-page img {
  height: 200px;
}

#main-page .home-img {
  border-radius: 20px;
}

#main-page .saturn {
  border-radius: 20px;
}

#main-page article {
  margin: 20px;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #d9d9d980;
}

footer p {
  font-size: 1.4rem;
  padding: 5px;
}

/* Main menu */
.main-nav {
  width: 190px;
  background-color: #c5c6c780;
  border-radius: 20px;
  margin: 25px 0;
  margin-left: 15px;
}

.planets {
  display: flex;
  margin-left: 20px;
  height: 500px;
  flex-direction: column;
  justify-content: space-around;
}

.main-nav img {
  width: 50px;
  margin: 0px;
}

.main-nav span {
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.navn {
  height: 50px;
  width: 160px;
  display: flex;
  align-items: center;
}

.navn:hover > img {
  transform: scale(1.2);
}

.navn:hover {
  color: blue;
}

/* Contact form */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  width: 50%;

  background-color: #d9d9d980;
  color: black;
  border-radius: 15px;
  box-shadow: 9px 9px 17px 4px rgba(0, 0, 0, 0.34);
}

#fullName {
  display: flex;
  gap: 15px;
}

.inputStyle {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  text-align: center;
}

#contactSubmit {
  margin: 0 auto;
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  width: 50%;
  border: none;
  cursor: pointer;
}
